<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Welcome to the Cininnati World Tour</title>
</head>
<body>
  <nav class="navbarposition">
    <header class="Navbarheader">
        <div class="container-fluidnavbar">
            <div class="navbar-logo">
                <a href="/" img src="https://i.pinimg.com/474x/38/d5/05/38d5056311144aac11a23b0549084024.jpg" alt="logo"></a>
            </div>
            <div class="navbar-items d-none d-xl-flex collapse nav-links navbarfont" id="navbarContent">
                <div class="Cincinnati">
                    <a class="tour" href="/">Home</a>
                </div>
                <div class="Cincinnati">
                    <a class="tour" href="/Attractions">Attractions</a>
                </div>
                <div class="Cincinnati">
                    <a class="tour" href="/Booking">Booking</a>
                </div>
                <div class="Cincinnati">
                    <a class="tour" href="/About">About</a>
                </div>
                <div class="Cincinnati">
                    <a class="tour" href="/Contact">Contact Us</a>
                </div>
            </div>
        </div>
    </header>
  </nav>